body{
  height:100%;
}

.header{
  width:100%;
  height:70px;
  
  margin-left:auto;
  margin-right:auto;
  font-family:Oswald;
  background-color:white; 
  color:white;
 
  font-size:1.2em;
  text-align: center
}


.header .inline_block{
  margin-left:100%;
  margin-top: -40px;

}

.header .inline_block li{
  display: inline-block;
  width:200px;
  margin-left:-350px;
  color:black;
  list-style-type: none;
  font-size:0.8em;

}



.header .title{
  font-family:Oswald;
  background-color:black; 
  color:white;
  width:100%;
  margin-top: -20px;
  margin-left:auto;
  margin-right:auto;
  line-height:55px;
  height:50px;
  font-size:2.75em;

}

#main {
    width: 800px;
    height:600px;
    margin-top:50px;
    margin-left:auto;
    margin-right: auto;
}

#main div {
    width: 250px;
    height: 250px;
    margin-left:15px;
    margin-top:20px;
    float: left;
}

#radio_main {
    width: 800px;
    height:100px;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
     font-size:1em;
    font-family:Oswald;
}

#radio_main label{
  cursor: pointer;
  background-image: url('/images/orange.png');
  width: 250px;
    height: 250px;

}

input[type=checkbox]:checked ~ #happy {
   background: red;
}


#radio_main .radio #form_label{
  
   margin-left:-50px;
}


#radio_main .radio{
  margin-left:30px;

}



.input_text{
  
    width: 700px;
    height:50px;
    margin-left:auto;
    margin-right: auto;
   
    text-align:center;
}

.input_text >.comment_text{
    width:600px;
    height:40px;
    font-size:1em;
    font-style:italic;
    margin-left: auto;
    margin-right: auto;
    border-radius:4pt;
    
}

.input_text >.root_text{
    width:200px;
    height:30px;
    font-size:1em;
    font-style:italic;
    margin-left: auto;
    margin-right: auto;
    border-radius:4pt;
    
}


.input_text >.largebutton{

    width:300px;
    height:50px;
    margin: 0 auto;
    color:white;
    font-size:2em;
    font-family:Oswald;
  background-color:#ED197D;
  border:0;
  text-align: center;
  border-radius:4pt;
 
}

.widget{
  text-align:center;
}